body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-pretendard: Pretendard;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-mini: 15px;
  --font-size-5xs: 8px;
  --font-size-4xs-4: 8.4px;
  --font-size-7xl-5: 26.5px;
  --font-size-smi: 13px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-silver-100: #b6b6b6;
  --color: #fff;
  --border-color: #d6d6d6;
  --color1: rgba(0, 210, 21, 0.6);
  --color-darkslategray-100: #3a3a3a;
  --color-forestgreen: #189725;
  --color-black: #000;
  --color-whitesmoke: #f5f5f5;

  /* Gaps */
  --gap-7xs: 6px;
  --gap-25xl: 44px;
  --gap-2xs-8: 10.8px;
  --gap-37xl: 56px;

  /* border radiuses */
  --br-12xs-6: 0.6px;
  --br-11xs-6: 1.6px;
  --br-7xs-8: 5.8px;
  --br-11xs-4: 1.4px;
  --br-10xs-4: 2.4px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-3xs: 10px;
}
