<!DOCTYPE html>
{% csrf_token %}
<html>
  <head>
    <meta charset="utf-8" />
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;500;700&display=swap"
    />
  </head>

  <body>
    <div class="desktop-26">
        <div class="div">
            <img class="icon" alt="" src="{% static 'public/1.svg' %}" />

            <img class="icon-mic" alt="" src="{% static 'public/1.svg' %}" />

            <div class="parent">
                <div class="div1">
                  <div id="sttout">
                    짠 안녕하십니까? 여러분들 역사는 최태성!이제 여러분들 우리가 조선 시대로 들어갑니다. 조선을 세운 사람이 누구일까요? 이성계? 혹시 정도전이라고 생각하지는 않으시는지? 정도전은 스스로 얘기합니다. 조선은 내가 이성계를 앞세워 세운 나라다. 이런 이야기를 할 정도입니다...
                  </div>
                </div>
                <div class="div2"></div>
            </div>
            <div class="group">
                <div class="div3">
                  <div id="output">
                    1392년: 이성계(태조)가 고려 왕조를 멸망시키고 조선을 건국하며 왕위에 오름.

                    1394년: 한양(서울)으로 수도를 옮기고, 조선 왕조를 세운 태조의 왕위가 확립됨.

                    1399년: 태조가 자신의 아들을 삼국유사(삼국사기를 기반으로 한 역사서)를 편찬하도록 지시하여 국가 역사 기록의 기초를 마련함.

                  </div>
                </div>
                <div class="div2"></div>
            </div>
            <div class="div5">
                <div class="child"></div>
                <b class="b">인식내용</b>
            </div>
            <div class="div6">
                <div class="item"></div>
                <b class="b">분석내용</b>
            </div>

            <button id="clear-btn">
              <img class="icon1" alt="" src="{% static 'public/11@2x.png' %}" />
            </button>
            <button id ='save-btn1'>
                <img class="icon2" alt="" src="{% static 'public/21.svg' %}" />
            </button>
            <button id ='save-btn2'>
                <img class="icon3" alt="" src="{% static 'public/21.svg' %}" />
            </button>

            <button id ='get-text-btn'>
              <img class="ai-icon" alt="" src="{% static 'public/ai.svg' %}" />
            </button>
            <button id="stop-btn">
              <div class="div7">
                  <div class="inner"></div>
                  <div class="rectangle-div"></div>
              </div>
            </button>

            <button id="get-result-btn">
              <img class="icon4" alt="" src="{% static 'public/3.svg' %}" id="node1" />
            </button>
            
            <div class="div8">
                <div class="child1"></div>
                <b class="b2">음성 인식하기</b>
            </div>
            <div class="div9">
                <div class="child1"></div>
                <a class="b2" href="{% url 'show_saved_results' %}"><b>문서 확인하기</b></a>
            </div>

        </div>
        <div class="div10">
            <div class="div11"></div>
            <div class="child3"></div>
            <img class="icon5" alt="" src="{% static 'public/2.svg' %}" />

            <div class="frame-parent">
                <div class="frame-group">
                    <div class="container">
                        <div class="div12">
                            <div class="group-div">
                                <div class="group-child"></div>
                            </div>
                            <b class="b4">가</b>
                            <img class="icon6" alt="" src="{% static 'public/5.svg' %}" />
                        </div>
                        <div class="div13">글자 크기</div>
                    </div>
                    <div class="pt">10 pt</div>
                </div>
                <div class="group-wrapper">
                    <div class="parent1">
                        <div class="div14">설정</div>
                        <img class="icon7" alt="" src="{% static 'public/4.svg' %}" />
                    </div>
                </div>
                <div class="group-item"></div>
                <div class="div15">
                    <img class="frame-icon" alt="" src="{% static 'public/frame-15.svg' %}" />

                    <div class="div16">김한나</div>
                </div>
                <div class="frame-container">
                    <div class="container">
                        <div class="div12">
                            <div class="child4"></div>
                            <div class="ellipse-div"></div>
                            <div class="subtract-parent">
                                <img class="subtract-icon" alt="" src="{% static 'public/subtract.svg' %}" />

                                <b class="b5">ㄱ</b>
                                <b class="g">G</b>
                            </div>
                        </div>
                        <div class="div18">언어 선택</div>
                    </div>
                    <div class="div19">한국어</div>
                </div>
            </div>
            <div class="group-parent">
                <div class="frame-parent1">
                    <div class="parent2">
                        <img class="icon8" alt="" src="{% static 'public/7.svg' %}" />

                        <div class="div20">경영학입문</div>
                    </div>
                    <img class="group-inner" alt="" src="{% static 'public/polygon-4.svg' %}" />
                </div>
                <div class="polygon-parent">
                    <img class="polygon-icon" alt="" src="{% static 'public/polygon-2.svg' %}" />

                    <div class="parent3">
                        <img class="icon8" alt="" src="{% static 'public/-.svg' %}" />

                        <div class="div20">한국사</div>
                    </div>
                </div>
                <div class="group-container">
                    <div class="parent4">
                        <img class="icon10" alt="" src="{% static 'public/6.svg' %}" />

                        <div class="div22">1주차 강의</div>
                    </div>
                </div>
                <div class="div23">2주차 강의</div>
                <div class="parent5">
                    <div class="div24">새로 만들기</div>
                    <img class="icon11" alt="" src="{% static 'public/9.svg' %}" />
                </div>
                <div class="parent6">
                    <div class="div25">새로 만들기</div>
                    <img class="group-icon" alt="" src="{% static 'public/group-61.svg' %}" />
                </div>
            </div>
            <img class="child5" alt="" src="{% static 'public/group-65.svg' %}" />

            <img class="mask-group-icon" alt="" src="{% static 'public/mask-group@2x.png' %}" />
        </div>
    </div>

    <script>
      var node1 = document.getElementById("node1");
      if (node1) {
        node1.addEventListener("click", function (e) {
          // Please sync "Desktop - 9" to the project
        });
      }
    </script>

<script>
  var recognition; // SpeechRecognition 객체를 저장할 변수
  var mytext = "";
  var pre_text = "";
  $(document).ready(function() {
      $("#get-result-btn").click(function() {
          $("#output").html("");
          $("#sttout").html("");
          recognition = new webkitSpeechRecognition(); // 음성 인식 객체 생성
          recognition.continuous = true; // 연속적인 음성 인식을 활성화
          recognition.interimResults = true; // 중간 결과를 반환하도록 설정

          recognition.onresult = function(event) {
              var result = event.results[event.results.length - 1][0].transcript;
              
              console.log(result);
              if(result.length < pre_text.length)
              {
                mytext += pre_text;
                $("#sttout").text(mytext);
              }
              pre_text = result             
          };

          recognition.onend = function() {
              // 음성 인식이 끝날 때의 처리
              console.log("음성 인식 종료");
              recognition.stop();
              $("#get-result-btn").prop("disabled", false); // 시작 버튼 활성화
          };

          recognition.start(); // 음성 인식 시작
          $("#get-result-btn").prop("disabled", true); // 시작 버튼 비활성화
      });
      
      $("#stop-btn").click(function() {
          recognition.stop(); // 음성 인식 중지
      });
      
      $("#clear-btn").click(function() {
        $("#sttout").html("");
      });

      $("#save-btn1").click(function() {
        storeResult1();
      });
      $("#save-btn2").click(function() {
        storeResult2();
      });

      var answer = "";
      $("#get-text-btn").click(function() {
        var div3s = document.getElementsByClassName('div3');
        div3s[0].style.backgroundColor = '#f5f5f5';
        var div6s = document.getElementsByClassName('item');
        div6s[0].style.backgroundColor = '#1b9324';

      var textValue = $("#sttout").text();
      console.log("======");
      console.log(textValue);
      // Ajax 요청으로 텍스트 값을 Django 서버로 전송
      $.ajax({
          url: "/get_text/",
          type: "POST",
          data: {text_value: textValue},
          success: function(response) {
              answer = response.ans;
              // 결과를 출력할 div에 결과 값을 설정
              //console.log(answer);
              $("#output").html(answer);
          },
          error: function(xhr) {
              alert("Error occurred while sending the data.");
          }
      });
  });
    
});
function storeResult1() {
    var result = $("#sttout").text();
    $.ajax({
    type: "POST",
    url: "{% url 'save_result' %}",
    data: {
        result: result,
        csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function(response) {
        console.log("저장 성공!");
        // 성공적으로 저장했을 때 필요한 처리를 추가하면 됩니다.
    },
    error: function(error) {
        console.log("저장 실패!");
        // 저장 실패시 필요한 처리를 추가하면 됩니다.
    },
    });
}
function storeResult2() {
    var result = $("#output").text();
    $.ajax({
    type: "POST",
    url: "{% url 'save_result' %}",
    data: {
        result: result,
        csrfmiddlewaretoken: "{{ csrf_token }}",
    },
    success: function(response) {
        console.log("저장 성공!");
        // 성공적으로 저장했을 때 필요한 처리를 추가하면 됩니다.
    },
    error: function(error) {
        console.log("저장 실패!");
        // 저장 실패시 필요한 처리를 추가하면 됩니다.
    },
    });
}
</script>

</body>
</html>